.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: hsl(240, 6%, 10%);
}

@media (max-width: 32rem) {
  .panel {
    width: calc(100vw - 2rem);
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: 2rem;
  min-width: 100%;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  padding-block: 2rem;
  background-color: rgb(39 39 42);
  border-radius: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

.buttons > span {
  font-size: 2rem;
}

.buttons:focus-visible,
.buttons:hover {
  outline: none;
  border-color: #8257e6;
}

.headerText {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.footerText {
  font-size: 0.75rem;
  line-height: 1rem;
  color: hsl(0, 0%, 64%);
}

.footerText > a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 2px;
}

