.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 1.25rem;
  bottom: 1.25rem;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  color: white;
  background-color: #8257e6;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
}

.text {
  max-width: 0;
  overflow: hidden;
  transition: max-width;
  transition-duration: 700ms;
  transition-timing-function: ease-out;
}

.button:focus-visible > .text,
.button:hover > .text {
  max-width: 10rem;
}

.spacer {
  margin-inline: 0.25rem;
}

